 Bookings new

<form action="/bookings" method="post">

  <label for="location">Location</label>
  <input type="text" placeholder="Enter Location..." id="location" name="location"><br><br>

  <label for="duration">Duration</label>
  <input type="text" placeholder="Enter Duration..." id="duration" name="duration"><br><br>

  <label for="price">Price</label>
  <input type="text" placeholder="Enter Price..." id="price" name="price"><br><br>

  <label for="status">Status</label>
  <input type="text" placeholder="Enter Status..." id="status" name="status"><br><br>

  <input type="submit" value="Submit" >
</form>
