Bookings new

<form action="/bookings/new" method="post">

  <label for="fname">Location</label>
  <input type="text" id="fname" name="fname"><br><br>

  <label for="duration">Duration</label>
  <input type="text" id="duration" name="lname"><br><br>

  <label for="price">Price</label>
  <input type="text" id="price" name="lname"><br><br>

  <label for="status">Status</label>
  <input type="text" id="status" name="lname"><br><br>

  <input type="submit" value="Submit" >
</form>
