<div>
  <p>
    <strong>Location:</strong>
    <%= @booking.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @booking.price %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @booking.duration %>
  </p>

    <p>
    <strong>Status:</strong>
    <%= @booking.status %>
  </p>

</div>
